<div class="home-container">
    
  
    <h1 class="titulo">📚 Sistema de Biblioteca</h1>
  
    <div class="card-container">
      <!-- Usuarios -->
      <a routerLink="/usuarios" class="card">
        <mat-icon class="icono">group</mat-icon>
        <h2>Gestión de Usuarios</h2>
      </a>
  
      <!-- Libros -->
      <a routerLink="/libros" class="card">
        <mat-icon class="icono">menu_book</mat-icon>
        <h2>Gestión de Libros</h2>
      </a>
  
      <!-- Préstamos -->
      <a routerLink="/prestamos" class="card">
        <mat-icon class="icono">assignment</mat-icon>
        <h2>Gestión de Préstamos</h2>
      </a>
  
    </div>
  </div>
  